body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #78e9e7
}

header {
    background: rgba(0,0,0,0.6);
    padding: 20px;
    text-align: center;
    color: white;
}

header h1 {
    font-size: 28px;
    margin: 0 0 10px 0;
}

.contact {
    font-size: 18px;
    font-weight: bold;
}

.phone {
    margin-left: 5px;
    color: #ffd700; /* золотой цвет, хорошо видно */
}

.menu {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}

.item {
    display: flex;
    background: rgb(187, 185, 187);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 15px;
}

.info h2 {
    margin: 0;
    font-size: 20px;
}

.price {
    font-weight: bold;
    margin: 5px 0;
}

.desc {
    color: #555;
}

